body{
    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
    width: 100%;
    height: 100%;
}
h2,h1{
    margin: 0px;
    padding: 0px;
}
div.main-header{
    background: rgb(241, 216, 216);
}
div.sidebar{
    grid-area: 1 / 1 / 3;
    background: lightblue;
}
div.main-body{
    grid-area: 2 / 2;
    background: #584c4c;
}
.main-header{
    display: flex;
    flex-direction: column;
    padding: 16px;
}
.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div.sidebar{
    padding-left: 16px;
}
div.logo-container{
    margin-bottom: 36px;
}
img{
    max-width:  20px;
}
.img-container{
    display: flex;
}